
body{
    margin: 20px;
}
.chat{
    padding: 20px;
    border-radius: 25px;
    background-color: aliceblue;
    display: inline-block;
}

.msg{
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
}